.header{
  display: flex;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
.header .header-main{
  padding-left: 20px;
}
.header .avatar {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color:gray
}
a:active{
  color: red;
}
/* a:visited{
  color: purple;
} */
.header h1{
  text-align: left;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  margin-bottom: 20px;
}
.header p{
  margin: 0;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #333333;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eaeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bg-yellow{
  background-color: #fff9dc;
}
.bg-green{
  background-color: #e5ffe7;
}
.bg-red{
  background-color: #ffe5e5;
}
.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.list{
  list-style: none;
  padding: 0;
}
.list li{
  padding-bottom: 10px;
}
.work-experience{
  width: 100%;
  border-collapse: collapse;
}
.work-experience td{
  padding-bottom: 10px;
}
.contact h2{
  text-align: center;
}
.form-group label{
  display: block;
  font-size: 14px;
  color: #86868f;
}
.form-group input,
.form-group textarea{
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  margin-bottom: 3px;
}
.button{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}